# Autotools stuff
aclocal.m4
autom4te.cache
configure
config.h
config.h.in
config.log
config.status
install-sh
Makefile
Makefile.in
missing

# Build remains
*.o
*.d
snet_client_test

# Huh?
autoscan.log
compile
.deps
.dirstamp
stamp-h1
depcomp